.calculator {
    width: 90%;
    margin: 2rem auto 0 auto;
    max-width: 450px;
    border: 1px solid darkslateblue;
    border-radius: 15px;
    padding: 1rem;
    background-color: lightsteelblue;
}

.buttons-layout {
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.buttons-layout > div {
    display: grid;
    gap: 1em;
}

.buttons-layout > div:first-child {
    flex: 4;
    grid-template-columns: repeat(3, 4em);
}

.buttons-layout > div:nth-child(2) {
    grid-template-columns: [col1] 4em;
}

.buttons-layout > div:not(:first-child) {
    flex: 1;
}